.reserve_detail {
  width: 400px;
  border-radius: 10px;
  background-color: white;

  h2 {
    text-align: center;
    height: 40px;
    line-height: 40px;
  }

  .reserve_info {
    border: 1px solid red;
  }

  .reserve_detail_booker {
    border: 1px solid red;
  }
}
