.reserve_container {
  height: 500px;
  display: flex;
}

.reserve_status {
  width: calc(100% - 400px);
  border-radius: 10px;
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .reserve_status {
    width: 100%;
    margin-right: 0;
  }
}
